/* Main Css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

:root {
  --color-primary: #b37024;
  --color-danger: #F44336;
  --color-success: #4CAF50;
  --color-warning: #FFC107;
  --color-info: #2196F3;
  --color-info-dark: #7d8da1;
  --color-white: #FFFFFF;
  --color-white2: #ddd;
  --color-black: #000000;
  --color-dark: #212121;
  --color-dark-varient: #555;
  --color-light: rgb(100, 100, 100);
  --color-dark-light: rgba(0, 0, 0, 0.685);
  --color-background: #F6F6F9;
  --color-select-bg: #a1a1a1;

  --color-text-primary: #222;
  --color-text-secondary: #696969;
  --color-text-author: #191970;


  --border-radius: 0.5rem;
  --border-radius-sm: 0.25rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;

  --padding: 1.2rem;
  --padding-sm: 0.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
  --box-shadow1: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

}

.dark-mode-variables {
  --color-background: #181a1e;
  --color-dark: #edeffd;
  --color-white: #202528;
  --color-text-author: #2f2fc4;
  --color-dark-varient: #b37024;
  --color-light: rgba(190, 190, 190, 0.5);
  --color-dark-light: rgba(255, 255, 255, 0.25);
  --box-shadow: 0 2rem 3rem var(--color-light);
}


.dark-mode {
  background-color: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
  user-select: none;
}

.dark-mode span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-mode span.active {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius-1);
}

h1,h2,h3,h4,h5,h6{
  color: var(--color-dark);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-dark);
}

a {
  cursor: pointer;
}

img {
  max-width: 100%;
}

main {
  display: grid;
  grid-template-areas:
      'warning'
      'header'
      'main'
      'footer';
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
}

.content {
  padding: 0;
  margin: 0 auto;
  max-width: 960px;
  display: grid;
  grid-template-areas:
      'warning'
      'header'
      'main'
      'footer';
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr auto;
}

.content h3 {
  color: #ddd !important;
  border-radius: 15px;
}


/* HomePage Css */
div.post {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #6a67ce!important;
}

div.post div.text h2 {
  margin: 0;
  font-size: 1.8rem;
}

div.post div.text a{
  text-decoration: none;
  color: inherit;
}

div.post p.info {
  margin: 6px 0;
  color: var(--color-text-secondary);
  font-size: .7rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

div.post p.info a.author {
  color: var(--color-text-author);
}

div.post p.summary {
  margin: 0;
  line-height: 1.4rem;
}

/* Login & Register Css */
input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid var(--color-white2);
  border-radius: 5px;
  background-color: var(--color-white2);
}

button {
  width: 100%;
  display: block;
  background-color: var(--color-dark-varient);
  border: 0;
  color: var(--color-white);
  border-radius: 5px;
  padding: 7px 0;
  cursor: pointer;
}

form.login h1, form.register h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Post Page */
div.post-page  div.image{
  display: flex;
  max-height: 300px;
  overflow: hidden;
}

div.post-page div.image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

div.post-page a{
  text-decoration: underline;
  color: inherit;
}

div.post-page h1 {
  margin: 10px 0 5px;
  text-align: center;
}

div.post-page time {
  display: block;
  text-align: center;
  font-size: .75rem;
  color: var(--color-light);
}

div.post-page div.author {
  text-align: center;
  margin-bottom: 20px;
  font-size: .8rem;
  font-weight: bold;
}

div.post-page div.content p {
  line-height: 1.6rem;
}

div.actions {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 0 10px 0;
}

div.actions a.edit,
div.actions a.approve,
div.actions a.delete {
  background-color: var(--color-dark-varient);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: var(--color-white);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
}

div.actions svg {
  width: 20px;
  height: 20px;
}

div.actions a.edit{
  background-color: var(--color-info);
}
div.actions a.delete {
  background-color: var(--color-danger);
}
div.actions a.approve {
  background-color: var(--color-success);
}

.EditHeader {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 15px;
  border-bottom: 1px solid #cacaca;
}

div.image img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}


@media screen and (max-width: 768px) {
  div.post {
    grid-template-columns: 1fr;
  }
  .content {
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  div.post {
    grid-template-columns: 0.9fr 1.1fr;
  }
}

@media screen and (min-width: 1024px) {
  div.post {
    grid-template-columns: 0.8fr 1.2fr;
  }
}

@media screen and (min-width: 1200px) {
  div.post {
    grid-template-columns: 0.7fr 1.3fr;
  }
}

@media screen and (min-width: 1400px) {
  div.post {
    grid-template-columns: 0.6fr 1.4fr;
  }
}

