/* Main Css */
*{
  box-sizing: border-box;
}

body {
  color: #222;
}

a {
  cursor: pointer;
}

img {
  max-width: 100%;
}

main {
  /* padding: 10px; */
  padding: 0;
  margin: 0 auto;
  max-width: 960px;
  display: grid;
  grid-template-areas:
      'warning'
      'header'
      'main'
      'footer';
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
}


/* HomePage Css */
div.post {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #6a67ce!important;
}

div.post div.text h2 {
  margin: 0;
  font-size: 1.8rem;
}

div.post div.text a{
  text-decoration: none;
  color: inherit;
}

div.post p.info {
  margin: 6px 0;
  color: dimgray;
  font-size: .7rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

div.post p.info a.author {
  color:midnightblue;
}

div.post p.summary {
  margin: 0;
  line-height: 1.4rem;
}

/* Login & Register Css */
input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

button {
  width: 100%;
  display: block;
  background-color: #555;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
  cursor: pointer;
}

form.login h1, form.register h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Post Page */

div.post-page  div.image{
  display: flex;
  max-height: 300px;
  overflow: hidden;
}

div.post-page div.image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

div.post-page a{
  text-decoration: underline;
  color: inherit;
}

div.post-page h1 {
  margin: 10px 0 5px;
  text-align: center;
}

div.post-page time {
  display: block;
  text-align: center;
  font-size: .75rem;
  color: #aaa;
}

div.post-page div.author {
  text-align: center;
  margin-bottom: 20px;
  font-size: .8rem;
  font-weight: bold;
}

div.post-page div.content p {
  line-height: 1.6rem;
}

div.actions {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 0 10px 0;
}

div.actions a.edit,
div.actions a.approve,
div.actions a.delete {
  background-color: #555;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
}

div.actions svg {
  width: 20px;
  height: 20px;
}

div.actions a.edit{
  background-color: #007bff;
}
div.actions a.delete {
  background-color: #d80000;
}
div.actions a.approve {
  background-color: #027000;
}

.EditHeader {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 15px;
  border-bottom: 1px solid #cacaca;
}

div.image img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  div.post {
    grid-template-columns: 0.9fr 1.1fr;
  }
}