*.idea
*api/uploads/*
api/index.js
.env

api/profilePhotos/*


# dependencies
*/node_modules
*.pnp
*.pnp.js
*.txt
/api/node_modules
/api/node_modules
/node_modules
client/public/F2-logo512.png
client/public/F-logo512.png
client/package copy.json
